@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

form {
    box-sizing: border-box;
    margin: auto;
    padding: 1% 1% 5% 1%;
    max-width: 400px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
}

input {
    background-color: #F4F4F4;
    width: 100%;
    padding: 12px 0;
    margin: 10px;
    border: 1px #D2D3D4;
    border-radius: 20px;
    font-size: large;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
    padding: 8px;
  }

input[type=submit] {
  background: #4c5bdd;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  font-family: 'Rajdhani', sans-serif;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: linear;
  }

  input[type=submit]:hover {
    background-color: #4c5bdd9a;
    color: white;
  }

  .error {
    color:#db2222;
    font-size: .8em;
    font-weight: bold;
    display: relative;
  }

  .form-status {
      text-align: center;
  }

  @media screen and (max-width: 800px) {
    .footer {
      margin: 28%;
    }
  }

  @media screen and (max-width: 480px) {
    .footer {
      margin: 12%;
    }
  }