@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.footer {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fa {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    /* width: 65px; */
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.5;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-github {
    background: black;
    color: white;
  }