@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

.footer {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.fa {
    font-size: 25px;
    padding: 20px;
    margin: 5px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.5;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-github {
    background: black;
    color: white;
  }