@import-normalize;

body {
  margin: 0;
}

.App {
  text-align: center;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(120vh);
  scroll-snap-type: y mandatory;
}

section {
  border-bottom: 1px solid white;
  /* padding: 1rem; */
  margin: 0;
  /* height: 100vh; */
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.home-image {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-container1 {
  background-image: url('../src/img/WebDeveloper.png');
}

/* .home-container2 {
  background-image: url('../src/img/home.jpg');
}

.home-container3 {
  background-image: url('../src/img/home.jpg');
}
*/

.home-container4 {
  background-color: black;
}

/*
.home-container5 {
  background-image: url('../src/img/home.jpg');
  display: flex;
  flex-direction: column;
}

.last-container {
  flex: 1;
} */ 

