@import-normalize;

body {
  margin: 0;
}

.App {
  text-align: center;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(120vh);
  scroll-snap-type: y mandatory;
}

section {
  border-bottom: 1px solid white;
  /* padding: 1rem; */
  margin: 0;
  /* height: 100vh; */
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.home-image {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-container1 {
  background-image: url('../src/img/WebDeveloper.png');
}

.home-container3 {
  padding: 1rem;
}

.home-container4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 200px;
  padding: 20px;
  min-height: 100vh;
  max-width: 1000px;
}

ul {
  list-style-type: none;
  text-align: left;
}

li {
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .home-container4 {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
  }
}